.sidebar-container{
    margin-top: 20px;
    .sidebar-items{
        :hover{
            background: #eee !important;
        }
        width: 100%;
        margin-bottom: 20px;
        padding-left: 14px;
        padding-right: 14px;

        .active-link{
            color : #3b78e7;
        }
        button{
            width: 100%;
            background: none;
            box-sizing: border-box;
            position: relative;
            cursor: pointer;
            outline: 0;
            border: none;
            -webkit-tap-highlight-color: transparent;
            display: inline-block;
            white-space: nowrap;
            text-decoration: none;
            vertical-align: baseline;
            margin: 0;
            min-width: 88px;
            line-height: 36px;
            padding: 0 16px;
            border-radius: 2px;
            overflow: visible;
            color: #112140;
        }
    }
}