<div class="skills-container" fxLayout="column">
    <div id="js-stack" fxLayout="row">
        <div fxFlex="7.5%"></div>
        <div fxFlex>
            <h4>Stack javascript</h4>
        </div>
        <div fxFlex="7.5%"></div>
    </div>
    <div id="javascript" fxLayout="column">
        <div class="stack" fxLayout.md="row" fxLayout.lt-md="column">
            <div fxFlex="7.5%"></div>
            <div id="left-skills-img" class="skills-img-container">
                <!--<div class="logo-title">
                    <span>Javascript</span>
                </div>-->
                <div class="logo-img">
                    <img src="assets/img/javascript-logo.png" (mouseenter)="loadInfos('js')"
                        (mouseleave)="hideInfos('js')">
                </div>

                <div class="logo-description">
                    <p class="logo-details-color"> ES6
                    </p>
                </div>
            </div>
            <div>

                <p class="logo-details-color">Réalisation d'application web avec une architecture multiple module,
                    utilisation de ngx rocket afin de comencé par une projet solide
                </p>
            </div>
            <div fxFlex="7.5%"></div>
        </div>
        <div class="stack" fxLayout.md="row" fxLayout.lt-md="column-reverse">
            <div fxFlex="7.5%"></div>
            <div class="stack-right">
                <p class="logo-details-color">Réalisation d'application web avec une architecture ultiple module,
                    utilisation de ngx rocket afin de comencé par une projet solide
                </p>
            </div>
            <div id="right-skills-img" class="skills-img-container">
                <!--<div class="logo-title">
                    <span>Javascript</span>
                </div>-->
                <div class="logo-img">
                    <img src="assets/img/typescript.png">
                </div>

                <div class="logo-description">
                    <p class="logo-details-color"> version
                    </p>
                </div>
            </div>
            <div fxFlex="7.5%"></div>
        </div>
        <div class="stack" fxLayout.md="row" fxLayout.lt-md="column">
            <div fxFlex="7.5%"></div>
            <div id="left-skills-img" class="skills-img-container">
                <!--<div class="logo-title">
                    <span>Javascript</span>
                </div>-->
                <div class="logo-img">
                    <img src="assets/img/angular-logo.png" (mouseenter)="loadInfos('js')"
                        (mouseleave)="hideInfos('js')">
                </div>

                <div class="logo-description">
                    <p class="logo-details-color"> 6+
                    </p>
                </div>
            </div>
            <div>

                <p class="logo-details-color">Réalisation d'application web avec une architecture multiple module,
                    utilisation de ngx rocket afin de comencé par une projet solide
                </p>
            </div>
            <div fxFlex="7.5%"></div>
        </div>
        <div class="stack" fxLayout.md="row" fxLayout.lt-md="column-reverse">
            <div fxFlex="7.5%"></div>
            <div class="stack-right">
                <p class="logo-details-color">Réalisation d'application web avec une architecture multiple module,
                    utilisation de ngx rocket afin de comencé par une projet solide
                </p>
            </div>
            <div id="right-skills-img" class="skills-img-container">
                <!--<div class="logo-title">
                    <span>Javascript</span>
                </div>-->
                <div class="logo-img">
                    <img src="assets/img/nodejs-logo.png">
                </div>

                <div class="logo-description">
                    <p class="logo-details-color"> version
                    </p>
                </div>
            </div>
            <div fxFlex="7.5%"></div>
        </div>
        <div class="stack" fxLayout.md="row" fxLayout.lt-md="column">
            <div fxFlex="7.5%"></div>
            <div id="left-skills-img" class="skills-img-container">
                <!--<div class="logo-title">
                    <span>Javascript</span>
                </div>-->
                <div class="logo-img nest-logo">
                    <img src="assets/img/nodejs-logo.png" (mouseenter)="loadInfos('js')" (mouseleave)="hideInfos('js')">
                </div>

                <div class="logo-description">
                    <p class="logo-details-color"> version
                    </p>
                </div>
            </div>
            <div>

                <p class="logo-details-color">Réalisation d'application web avec une architecture ultiple module,
                    utilisation de ngx rocket afin de comencé par une projet solide
                </p>
            </div>
            <div fxFlex="7.5%"></div>
        </div>
    </div>
    <div id="java-stack" fxLayout="row">
        <div fxFlex="7.5%"></div>
        <div fxFlex>
            <h4>JVM Stack</h4>
        </div>
        <div fxFlex="7.5%"></div>
    </div>
    <div id="java" fxLayout="column">
        <div class="stack" fxLayout.md="row" fxLayout.lt-md="column">
            <div fxFlex="7.5%"></div>
            <div id="left-skills-img" class="skills-img-container">
                <!--<div class="logo-title">
                    <span>Javascript</span>
                </div>-->
                <div class="logo-img">
                    <img src="assets/img/java-logo.png" (mouseenter)="loadInfos('js')" (mouseleave)="hideInfos('js')">
                </div>

                <div class="logo-description">
                    <p class="logo-details-color"> version
                    </p>
                </div>
            </div>
            <div>

                <p class="logo-details-color">Réalisation d'application web avec une architecture ultiple module,
                    utilisation de ngx rocket afin de comencé par une projet solide
                </p>
            </div>
            <div fxFlex="7.5%"></div>
        </div>
        <div class="stack" fxLayout.md="row" fxLayout.lt-md="column-reverse">
            <div fxFlex="7.5%"></div>
            <div class="stack-right">
                <p class="logo-details-color">Réalisation d'application web avec une architecture ultiple module,
                    utilisation de ngx rocket afin de comencé par une projet solide
                </p>
            </div>
            <div id="right-skills-img" class="skills-img-container">
                <!--<div class="logo-title">
                    <span>Javascript</span>
                </div>-->
                <div class="logo-img">
                    <img src="assets/img/spring-logo.png">
                </div>

                <div class="logo-description">
                    <p class="logo-details-color"> version
                    </p>
                </div>
            </div>
            <div fxFlex="7.5%"></div>
        </div>
        <div class="stack" fxLayout.md="row" fxLayout.lt-md="column">
            <div fxFlex="7.5%"></div>
            <div id="left-skills-img" class="skills-img-container">
                <!--<div class="logo-title">
                    <span>Javascript</span>
                </div>-->
                <div class="logo-img nest-logo">
                    <img src="assets/img/kotlin.png" (mouseenter)="loadInfos('js')" (mouseleave)="hideInfos('js')">
                </div>

                <div class="logo-description">
                    <p class="logo-details-color"> version
                    </p>
                </div>
            </div>
            <div>

                <p class="logo-details-color">Réalisation d'application web avec une architecture ultiple module,
                    utilisation de ngx rocket afin de comencé par une projet solide
                </p>
            </div>
            <div fxFlex="7.5%"></div>
        </div>
        <div class="stack" fxLayout.md="row" fxLayout.lt-md="column-reverse">
            <div fxFlex="7.5%"></div>
            <div class="stack-right">
                <p class="logo-details-color">Réalisation d'application web avec une architecture ultiple module,
                    utilisation de ngx rocket afin de comencé par une projet solide
                </p>
            </div>
            <div id="right-skills-img" class="skills-img-container">
                <!--<div class="logo-title">
                    <span>Javascript</span>
                </div>-->
                <div class="logo-img">
                    <img src="assets/img/android-logo.png">
                </div>

                <div class="logo-description">
                    <p class="logo-details-color"> version
                    </p>
                </div>
            </div>
            <div fxFlex="7.5%"></div>
        </div>
    </div>
    <div id="dart-stack" fxLayout="row">
        <div fxFlex="7.5%"></div>
        <div fxFlex>
            <h4>Dart Stack</h4>
        </div>
        <div fxFlex="7.5%"></div>
    </div>
    <div id="dart" fxLayout="column">
        <div class="stack" fxLayout.md="row" fxLayout.lt-md="column">
            <div fxFlex="7.5%"></div>
            <div id="left-skills-img" class="skills-img-container">
                <!--<div class="logo-title">
                    <span>Javascript</span>
                </div>-->
                <div class="logo-img">
                    <img class="update-img" src="assets/img/dart-logo.png" (mouseenter)="loadInfos('js')"
                        (mouseleave)="hideInfos('js')">
                </div>

                <div class="logo-description">
                    <p class="logo-details-color"> version
                    </p>
                </div>
            </div>
            <div>

                <p class="logo-details-color">Réalisation d'application web avec une architecture ultiple module,
                    utilisation de ngx rocket afin de comencé par une projet solide
                </p>
            </div>
            <div fxFlex="7.5%"></div>
        </div>
        <div class="stack" fxLayout.md="row" fxLayout.lt-md="column-reverse">
            <div fxFlex="7.5%"></div>
            <div class="stack-right">
                <p class="logo-details-color">Réalisation d'application web avec une architecture ultiple module,
                    utilisation de ngx rocket afin de comencé par une projet solide
                </p>
            </div>
            <div id="right-skills-img" class="skills-img-container">
                <!--<div class="logo-title">
                    <span>Javascript</span>
                </div>-->
                <div class="logo-img">
                    <img src="assets/img/flutter-logo.png">
                </div>

                <div class="logo-description">
                    <p class="logo-details-color"> version
                    </p>
                </div>
            </div>
            <div fxFlex="7.5%"></div>
        </div>
    </div>
    <div id="devops-stack" fxLayout="row">
        <div fxFlex="7.5%"></div>
        <div fxFlex>
            <h4>Devops Stack</h4>
        </div>
        <div fxFlex="7.5%"></div>
    </div>
    <div id="devops" fxLayout="column">
        <div class="stack" fxLayout.md="row" fxLayout.lt-md="column">
            <div fxFlex="7.5%"></div>
            <div id="left-skills-img" class="skills-img-container">
                <!--<div class="logo-title">
                    <span>Javascript</span>
                </div>-->
                <div class="logo-img">
                    <img src="assets/img/git.png" (mouseenter)="loadInfos('js')" (mouseleave)="hideInfos('js')">
                </div>

                <div class="logo-description">
                    <p class="logo-details-color"> version
                    </p>
                </div>
            </div>
            <div>

                <p class="logo-details-color">Réalisation d'application web avec une architecture ultiple module,
                    utilisation de ngx rocket afin de comencé par une projet solide
                </p>
            </div>
            <div fxFlex="7.5%"></div>
        </div>
        <div class="stack" fxLayout.md="row" fxLayout.lt-md="column-reverse">
            <div fxFlex="7.5%"></div>
            <div class="stack-right">
                <p class="logo-details-color">Réalisation d'application web avec une architecture ultiple module,
                    utilisation de ngx rocket afin de comencé par une projet solide
                </p>
            </div>
            <div id="right-skills-img" class="skills-img-container">
                <!--<div class="logo-title">
                    <span>Javascript</span>
                </div>-->
                <div class="logo-img">
                    <img src="assets/img/docker.png">
                </div>

                <div class="logo-description">
                    <p class="logo-details-color"> version
                    </p>
                </div>
            </div>
            <div fxFlex="7.5%"></div>
        </div>
        <div class="stack" fxLayout.md="row" fxLayout.lt-md="column">
            <div fxFlex="7.5%"></div>
            <div id="left-skills-img" class="skills-img-container">
                <!--<div class="logo-title">
                    <span>Javascript</span>
                </div>-->
                <div class="logo-img">
                    <img class="update-img" src="assets/img/jenkins.png" (mouseenter)="loadInfos('js')"
                        (mouseleave)="hideInfos('js')">
                </div>

                <div class="logo-description">
                    <p class="logo-details-color"> version
                    </p>
                </div>
            </div>
            <div>

                <p class="logo-details-color">Réalisation d'application web avec une architecture ultiple module,
                    utilisation de ngx rocket afin de comencé par une projet solide
                </p>
            </div>
            <div fxFlex="7.5%"></div>
        </div>
    </div>
</div>
<div #infosDiv class="notification-container"></div>
<div #jsInfosDiv class="js-notification-container">
    <app-js-skills-infos [tech]="jsInfosTech"></app-js-skills-infos>
</div>
<div #javaInfosDiv class="java-notification-container">
    <app-java-skills-infos [tech]="jsInfosTech"></app-java-skills-infos>
</div>