.home-container{
    width: -webkit-fill-available;
    overflow: -webkit-paged-x;
    padding-top: 18px;
    width: 84%;
    float: left;
    overflow: hidden;
    .my-picture-container{
        text-align: center;
        margin-top: 35px !important;
        border-radius: 18px;

        img{
            border-radius: 18px;
        }
    }

    .introduction{
        height: 400px;
    }

    #presentation-stack, #loisirs-stack {
        height: 400px;
    }
}


@media all and (max-width: 1000px)
  {
    .home-container{
        width: 100%;
        float: none !important;
    }
  }