
<div class="experiences-container">
    <div class="wesquad-container">
        <img src="assets/img/wesquad2.png">
    </div>
    <div class="itnovem-container" fxLayout="row">
        <div id="itnovem-left" fxLayout="column">
            <div class="company-logo">
                <img src="assets/img/itnovem-logo.png">
            </div>
            <div class="company-context-title">
                    <h4>Context</h4>
            </div>
            <div class="company-context-text">
                    <span>
                        ITNOVEM, filiale du groupe E-SNCF est spécialisée dans les objets connectés et intervient sur des projets digitaux dans le but d’accélérer l’industrialisation des projets numériques du groupe grâce à ses multiples expertises telles que l'IoT, le Big data, l’agilité.                    
                </span>
            </div>
            <div class="company-missions-title">
                    <h4>Missions</h4>
            </div>
            <div class="company-missions-text">
                <ul>
                    <li>
                        <span>
                            Développement d’une application web avec Angular en front et NodeJS en back destinée aux personnels de la SNCF afin de surveiller leurs différentes activités à l’aide de différents capteurs installés.
                            Les capteurs envoient des données (états, températures mesurées, température de rail…) à notre plateforme ce qui lui permet de générer des alertes ou sms au responsable de l’activité si nécessaire.
                        </span>
                    </li>
                    <li>
                        <span>
                                Développement d’une seconde application dans le but de simuler l’injection de données afin d’observer le comportement de la première application.
                        </span>
                    </li>
                    <li>
                        <span>
                            Architecture 3 tiers implémentée (la couche présentation a été développé avec le framework Angular, la couche métier avec la plateforme NodeJs ainsi que le Framework NestJs afin de gérer le routage).
                        </span>
                    </li>
                    <li>
                        <span>
                                Réalisation de tests fonctionnels avec Karma pour le FrontEnd, réalisation de tests unitaires avec Chai et Mocha pour le backEnd.
                        </span>
                    </li>
                    <li>
                        <span>
                                Utilisation de Git ainsi que GitLab afin de gérer les différentes versions.
                        </span>
                    </li>
                    <li>
                        <span>
                                Intégration continue avec Jenkins.                        
                        </span>
                    </li>
                    <li>
                        <span>
                                Utilisation d’une base de données NoSQL (CouchDB) et environnement de production (Microsoft azure)
                        </span>
                    </li>
                    <li>
                        <span>
                                Application de la méthode agile (SCRUM)                       
                        </span>
                    </li>
                    <li>
                        <span>
                                Utilisation de l’outil JIRA pour la gestion de taches.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div div id="itnovem-right">
            <img src="assets/img/itnovem-iot-icon.png">
        </div>
    </div>
    <div class="next-container" fxLayout="row">
        <div id="next-left" fxLayout="column">
        <div class="company-logo">
                <img src="assets/img/next-logo.svg">
        </div>
        <div class="company-context-title">
                <h4>Context</h4>
        </div>
        <div class="company-missions-title">
                <h4>Missions</h4>
        </div>
        <div class="company-missions-text">
            <ul>
                <li>
                    <span>
                        Développement en équipe d’une application web de gestion d’objectif, architecture de l’application orienté micro-service.
                    </span>
                </li>
                <li>
                    <span>
                        Le BackEnd développé en Java avec le Framework Spring et FrontEnd développé avec le Framework Angular
                    </span>
                </li>
                <li>
                    <span>
                        Base de données MySQLl, Java pour le backend, et seconde base de données en MongoDB communicant avec un backend en NodeJS.
                        Communication entre le frontend et chaque backend avec une Gateway (passerelle) qui ensuite redirige vers la bonne Api Rest
                    </span>
                </li>
            </ul>
        </div>
            <div class="company-environnment-title">
                <h4>Environnements</h4>
            </div>
            <div class="company-environnment-text">
                    <ul>
                        <li>
                            <span>
                                    SpringBoot, Java, MySQL                            
                            </span>
                        </li>
                        <li>
                            <span>
                                    Angular, Typescript, Angular Material
                            </span>
                        </li>
                        <li>
                            <span>
                                    NodeJS, MongoDB, NestJS / ExpressJS
                            </span>
                        </li>
                        <li>
                            <span>
                                    Micro-services, Gateway, API Rest
                            </span>
                        </li>
                    </ul>
            </div>
        </div>
        <div div id="next-right">
                <img src="assets/img/rncp.png">
        </div>
    </div>

    <div class="apf-container">
        <img src="assets/img/apf-logo.png">
    </div>


    <div class="citae-container">
        <img src="assets/img/citae-logo.png">
    </div>
</div>
