.next-container, .paris8-container {
    height: 400px;
}

.paris8-container img {
    height: 133px;
}
.training-container {
    width: -webkit-fill-available;
    overflow: -webkit-paged-x;
    padding-top: 18px;
    width: 84%;
    float: left;
    overflow: hidden;
    padding-left: 39px;
}